<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xh.dao.OrderDao">
    <sql id="querySql">
	id,order_number orderNumber,order_times orderTimes,addr_user addrUser,addr_name addrName,total_price totalPrice,status,addr_id addrId,user_id userId
</sql>

<insert id="add" parameterType="com.xh.entity.Order">
        insert into d_order
        values(#{id},#{orderNumber},#{orderTimes},#{addrUser},#{addrName},#{totalPrice},#{status},#{addrId},#{userId})
    </insert>
    <select id="queryAll" resultType="com.xh.entity.Order">
        select <include refid="querySql"/> from d_order
    </select>
    <select id="queryId" parameterType="String" resultType="com.xh.entity.Order">
        select <include refid="querySql"/> from d_order
        where id=#{id}
    </select>
</mapper>